.slider {
  background: url("/images/slider.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: table;
  height: calc(100vh);
  width: 100%;
  position: relative;
  padding-top: calc((100vh - 45px) / 2);
  font-family: $additional-font;
  text-align: center;
  .container {
    z-index: 2;
    position: relative;
  }
}